.educacao {
  @include card;
  display: flex;
  flex-direction: column;
  gap: $Espacamento;

  > h2 {
    font-size: 1.25rem;
    line-height: 32px;
    font-weight: 700;
  }

  > ul {
    display: flex;
    flex-direction: column;
    gap: $Espacamento / 2;

    margin: 0;
    padding: 0;

    padding: 0 $Espacamento;

    > li {
      margin-left: $Espacamento / 2;

      color: var(--contraste);

      > strong {
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 700;
      }

      > span {
        display: block;

        font-size: 0.75rem;
        line-height: 1.25rem;
        font-weight: 300;
      }

      > p {
        font-size: 0.75rem;
        line-height: 1.25rem;
        font-weight: 500;
      }
    }
  }
}
